NODE_ENV=

DATABASE_PORT=
DATABASE_DIALECT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_NAME=

SALT=

JWT_SECRET=
JWT_ALGORITHM=
JWT_VALIDITY_IN_HOURS=

MAIL_FROM=
MAIL_USER=
MAIL_PASS=
MAIL_HOST=

SERVER_URL=

ENABLE_LOGS=