<table
	border="0"
	cellpadding="0"
	cellspacing="0"
	width="100%"
	style="table-layout: fixed; background-color: #f9f9f9"
	id="bodyTable"
>
	<tbody>
		<tr>
			<td
				style="padding-right: 10px; padding-left: 10px"
				align="center"
				valign="top"
				id="bodyCell"
			>
				<table
					border="0"
					cellpadding="0"
					cellspacing="0"
					width="100%"
					class="wrapperBody"
					style="max-width: 600px"
				>
					<tbody>
						<tr>
							<td align="center" valign="top">
								<table
									border="0"
									cellpadding="0"
									cellspacing="0"
									width="100%"
									class="tableCard"
									style="
										background-color: #fff;
										border-color: #e5e5e5;
										border-style: solid;
										border-width: 0 1px 1px 1px;
									"
								>
									<tbody>
										<tr>
											<td
												style="
													background-color: rgb(
														49,
														51,
														52
													);
													font-size: 1px;
													line-height: 3px;
												"
												class="topBorder"
												height="3"
											>
												&nbsp;
											</td>
										</tr>
										<tr></tr>
										<tr>
											<td
												style="padding-bottom: 20px"
												align="center"
												valign="top"
												class="imgHero"
											>
												<a
													href="#"
													style="
														text-decoration: none;
													"
													target="_blank"
												>
													<img
														alt=""
														border="0"
														src="{{welcome_logo}}"
														style="
															width: 20%;
															display: block;
															color: #f9f9f9;
															margin-top: 20px;
														"
														width="600"
													/>
												</a>
											</td>
										</tr>
										<tr>
											<td
												style="
													padding-bottom: 5px;
													padding-left: 20px;
													padding-right: 20px;
												"
												align="center"
												valign="top"
												class="mainTitle"
											>
												<h2
													class="text"
													style="
														color: #000;
														font-family: Poppins,
															Helvetica, Arial,
															sans-serif;
														font-size: 28px;
														font-weight: 500;
														font-style: normal;
														letter-spacing: normal;
														line-height: 36px;
														text-transform: none;
														text-align: center;
														padding: 0;
														margin: 0;
													"
												>
													Hi, {{username}}
												</h2>
											</td>
										</tr>
										<tr>
											<td
												style="
													padding-bottom: 30px;
													padding-left: 20px;
													padding-right: 20px;
												"
												align="center"
												valign="top"
												class="subTitle"
											>
												<h4
													class="text"
													style="
														color: #999;
														font-family: Poppins,
															Helvetica, Arial,
															sans-serif;
														font-size: 16px;
														font-weight: 500;
														font-style: normal;
														letter-spacing: normal;
														line-height: 24px;
														text-transform: none;
														text-align: center;
														padding: 0;
														margin: 0;
													"
												>
													Welcome aboard! We at
													<span
														style="
															font-weight: bold;
															color: #000;
														"
														>Application_Name</span
													>
													are glad to have you hear.
												</h4>
											</td>
										</tr>
										<tr>
											<td
												style="
													padding-left: 20px;
													padding-right: 20px;
												"
												align="center"
												valign="top"
												class="containtTable ui-sortable"
											>
												<table
													border="0"
													cellpadding="0"
													cellspacing="0"
													width="100%"
													class="tableButton"
													style=""
												>
													<tbody>
														<tr>
															<td
																style="
																	padding-top: 20px;
																	padding-bottom: 20px;
																"
																align="center"
																valign="top"
															>
																<table
																	border="0"
																	cellpadding="0"
																	cellspacing="0"
																	align="center"
																>
																	<tbody>
																		<tr>
																			<td
																				style="
																					background-color: rgb(
																						49,
																						51,
																						52
																					);
																					padding: 12px
																						35px;
																					border-radius: 50px;
																				"
																				align="center"
																				class="ctaButton"
																			>
																				<a
																					href="#"
																					style="
																						color: #fff;
																						font-family: Poppins,
																							Helvetica,
																							Arial,
																							sans-serif;
																						font-size: 13px;
																						font-weight: 600;
																						font-style: normal;
																						letter-spacing: 1px;
																						line-height: 20px;
																						text-transform: uppercase;
																						text-decoration: none;
																						display: block;
																					"
																					target="_blank"
																					class="text"
																					>Continue</a
																				>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
										<tr>
											<td
												style="
													font-size: 1px;
													line-height: 1px;
												"
												height="20"
											>
												&nbsp;
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
